/* font-family: 'Roboto', sans-serif; */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display:flex;
    margin: 2% auto;
    border: 1px solid black; 
    width: 1260px; 
    justify-content: space-between; 
}

.currentWeather {
    width: 100%;
    margin: 50px 10px 0 10px;
}


.header>h1 {
    padding: 10px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: rgb(192, 96, 96);
    font-weight: 400;
}

.wrapperForecast{
    position: relative;
    padding: 20px;
    width: 980px;
    background-color: #eee;
}

.forecast .chart {  
    position: relative; 
    margin: 10px;
    height: 300px;
    border: 1px solid black;
}

.chart_div {
    height: 300px;
}

.forecast .chart p{
    position:relative;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: chocolate;
    background-color: yellow;
}

.forecast .dataContainer{
 display: flex;
 margin: 10px;
 min-height: 120px;
 overflow-x: hidden;
}

.forecast .data {
    flex-shrink: 0;    
    width: 10%;
    border: 1px solid black;
    font-size: .8rem;
    line-height: .8rem;
}

.forecast .data>div{
    padding: 5px 5px 0;
    min-height: 20px;  
   text-align: center;
}


.arrowRight {
    position: absolute;
    right: 3px;
    top: 455px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 25px;
    border-color: transparent transparent transparent #69aaf0;
}


.arrowLeft {
    position: absolute;
    left: 3px;
    top: 455px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 25px 40px 0;
    border-color: transparent #69aaf0 transparent transparent;
}

form.search input:first-child{
    outline: none;
    padding-left: 5px;
    height: 30px;
    border: 2px solid brown;
    background-color: rgb(235, 234, 253);
    color: brown;
    transition: .25s;
}

form.search input:first-child:focus{
    height: 30px;
    border: 2px solid brown;
    color: rgb(35, 14, 131);
    background-color: rgb(224, 221, 247);
}

form.search input:last-child{
    padding: 0 8px;
    background-color: brown;
    outline: none;
    border: 2px solid brown;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: .25s;
}

form.search input:last-child:hover{
    background-color: rgb(218, 84, 84);
    outline: none;
    border: 2px solid brown;    
}
.currentWeather .top>div {
 margin-bottom: 10px;
}

.currentWeather .title p{
 font-family: 'Roboto', sans-serif;
 font-size: 1.5rem;
 font-weight: bold;
 color: rgb(192, 96, 96);
}
.currentWeather .weather img {
    display: inline-block;
    vertical-align: middle;
}

.currentWeather .weather p{
 font-size: 1.8rem;
 display: inline-block;
 vertical-align: middle;
}

.tableCurrentWeather {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;   
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

.tableCurrentWeather tr:nth-child(2n+1) {
 background-color: #eee;
}

.myForecastTable {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.myForecastTable .temp{
    display: inline-block;
    margin-left: 5px;
    padding: 2px 5px;
    color: white;
    font-size: .8rem;
    background-color: grey;
}
.myForecastTable tr:nth-child(2n+1){
    background-color: #ccc;
}

.myForecastTable .temp:first-child{
    background-color: rgb(228, 172, 53);
}